canvas{
  position: fixed;
  top: 0;
  left: 0;
}

main{
  position: absolute;
}



.navbar{
  background: black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family:"Lucida Console", "Courier New", monospace;
  color: #6db7f7;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.navbar__container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navbar__date{
  color: white;
  text-align: left;
  padding-left: 10rem;
}
.navbar__name{
  text-align: center;
}
.navbar__time{
  color: white;
  text-align: right;
  padding-right: 10rem;
}
